name: Build

on:
  push:
    tags-ignore:
      - "**"
    branches:
      - master
  pull_request:
    types:
      - opened
      - synchronize

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  call-ghlint:
    name: Call Lint GitHub workflows
    uses: ./.github/workflows/ghlint.yml
    permissions:
      pull-requests: write # required in order to annotate a PR with comments

  golangci-lint:
    name: Verify .golangci.yml
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go/go.mod
          check-latest: true

      - name: Lint dummy app
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          working-directory: go
          version: latest
          verify: true
          args: --config=../.golangci.yml
