name: Lint Github workflows

on:
  workflow_call:

jobs:
  lint:
    name: Lint Github workflows
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Lint workflows
        uses: docker://rhysd/actionlint:latest
        with:
          args: >-
            -color
            -ignore "value \"true\" in \"exclude\" does not match in matrix \"disabled\" combinations"
