run-name: Lint Go package

on:
  workflow_call:
    inputs:
      go-version-file:
        type: string
        default: go.mod
        description: Path to go.mod or go.work file

      disable-macos:
        type: boolean
        default: false
        description: Disable running the linter on the MacOS O/S

      disable-ubuntu:
        type: boolean
        default: false
        description: Disable running the linter on the Ubuntu O/S

      disable-windows:
        type: boolean
        default: false
        description: Disable running the linter on the Windows O/S

jobs:
  targets:
    name: Determine Lint O/Ses
    runs-on: ubuntu-latest
    outputs:
      json: ${{ steps.determine.outputs.json }}

    steps:
      - name: Determine
        id: determine
        run: |
          TARGETS=[]

          if ! ${{ inputs.disable-macos }}; then
            TARGETS=$(echo "${TARGETS}" | jq -c '. + [ "macos" ]')
          fi

          if ! ${{ inputs.disable-ubuntu }}; then
            TARGETS=$(echo "${TARGETS}" | jq -c '. + [ "ubuntu" ]')
          fi

          if ! ${{ inputs.disable-windows }}; then
            TARGETS=$(echo "${TARGETS}" | jq -c '. + [ "windows" ]')
          fi

          echo json="${TARGETS}" >> "${GITHUB_OUTPUT}"

  lint:
    name: Lint Go package (${{ matrix.os }})
    runs-on: ${{ matrix.os }}-latest
    needs: targets
    strategy:
      fail-fast: false
      matrix:
        os: ${{ fromJson(needs.targets.outputs.json) }}

    steps:
      - name: Checkout the source repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          submodules: recursive

      - name: Setup Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: go.mod
          check-latest: true

      - name: Configure the linter (if required)
        if:  ${{ hashFiles('.golangci.yml', '.golangci.yaml', '.golangci.toml', '.golangci.json') == '' }}
        run: curl -O https://raw.githubusercontent.com/azazeal/workflows/master/.golangci.yml

      - name: Run linter
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
        with:
          version: latest
          verify: true
